* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    overflow-y: scroll;
    /*border-color: #ccc !important;*/
}

.main-container {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: table;
    height: 100%;
    width: 1350px;
    margin: 0 auto;
    /*font-family: "Helvetica New",Arial,sans-serif;*/
    font-size: 15px;
}

.main-content {
    padding: 0 17px;
    margin: 0 auto;
}

.main-center {
    width: 1350px;
    display: table-row;
    height: 100%;
    position: relative;
}

.main-header {
    padding: 0 17px;
    margin: 0 auto;
}

.main-footer {
    padding: 0 17px;
    margin-top: 20px;
    height: 40px;
}

.main-spinner {
    text-align: center;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.strict {
    color: red;
}

.order .order-label {
    color: rgba(0,0,0,0.85);
    font-size: 14px;
}

/*
.order-list .ant-tag {
    font-size: 11px;
    padding:0 3px;
    border-color: #bbb;
    color: rgba(0,0,0,0.85);
}*/
/*.main-header .ant-menu {
    color: rgba(0, 0, 0, 0.8) !important;
}
.main-header .ant-menu-horizontal {
    border-bottom: 1px solid #cccccc;
}
.main-header .header-user.ant-menu-item-active {
    color: rgba(0, 0, 0, 0.8) !important;
    border-bottom-color: rgba(0, 0, 0, 0) !important;
}
.main-header .header-user.ant-menu-item-selected:hover {
    color: rgba(0, 0, 0, 0.8) !important;
    border-bottom-color: rgba(0, 0, 0, 0) !important;
}
.main-header .header-user.ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.8) !important;
    border-bottom-color: rgba(0, 0, 0, 0) !important;
}
.main-header .header-user.ant-menu-item:hover {
    color: rgba(0, 0, 0, 0.8) !important;
    border-bottom-color: rgba(0, 0, 0, 0) !important;
}
.main-header .header-user.ant-menu-item-selected:hover strong {
    color: rgba(0, 0, 0, 0.8) !important;
}
.main-header .header-user.ant-menu-submenu:hover strong {
    color: rgba(0, 0, 0, 0.8) !important;
}

.order-list .ant-table, .order .ant-table {
    color: rgba(0, 0, 0, 0.8) !important;
}
.order-list  .ant-table-body>table,
.order  .ant-table-body>table {
    border: 1px solid #cccccc !important;
}
.order-list .ant-table-title, .order .ant-table-title {
    border: 1px solid #cccccc !important;
}
.order-list .ant-table-bordered .ant-table-thead>tr>th,
.order-list .ant-table-bordered .ant-table-tbody>tr>td,
.order .ant-table-bordered .ant-table-thead>tr>th,
.order .ant-table-bordered .ant-table-tbody>tr>td {
    border-right: 1px solid #ccc;
}
.order-list .ant-table-thead>tr>th,
.order-list .ant-table-tbody>tr>td,
.order .ant-table-thead>tr>th,
.order .ant-table-tbody>tr>td
{
    border-bottom: 1px solid #ccc;
}

.order .ant-table-scroll .ant-table-tbody>tr:first-child>td
{
    border-top-width: 0 !important;
}
.order .ant-table-scroll .ant-table-tbody>tr:last-child>td
{
    border-bottom-width: 0  !important;
}

.order-list .ant-input,
.order .ant-input,
.order .ant-select-selection,
.order .ant-calendar-picker {
    border-color: #bbb !important;
}
.order-list .ant-input:hover, .order .ant-input:hover, .order .ant-select-selection:hover {
    border-color: #1890FF !important;
}

.order .ant-calendar-picker-icon, .ant-select-arrow .ant-select-arrow-icon {
    color: rgba(0,0,0,0.5) !important;
}

.order .ant-collapse, .order .ant-collapse-header, .order .ant-card-head {
    border-color: #ccc !important;
}
.order .ant-card-bordered {
    border-color: #ccc !important;
}
.order-list th {
    padding: 5px 8px;
}
.order-list .ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td {
    padding: 5px 8px;
}

.order .distributors .ant-table-thead th,
.order .distributors .ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td {
    padding: 9px 8px;
}

.order .distributors-button {
    padding: 0 10px;
}
.order .order-label {
    color: #333;
}*/

/* Inputs */

/*.custom-select .ant-select-selection {
    color: rgba(0, 0, 0, 0.8) !important;
    border-color: #bbb !important;
}
.custom-select .ant-select-selection:hover {
    border-color: #1890FF !important;
}*/